.nav {
  padding: 20px 0;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  margin-left: auto;
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav-links a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.nav-logo {
  display: flex !important;
  align-items: center;
  gap: 10px;
}
.nav-logo h1 {
  color: #3a68b8;
  font-weight: 600;
  font-size: 22.5px;
}

.nav-btn {
  margin-left: 52px;
  padding: 15px 30px;
  background-color: #3a68b8;
  border-radius: 5px;
  border: none;
}

.nav-mobile {
  border: none;
  background-color: transparent;
  display: none;
}

@media (max-width: 1000px) {
  .nav-links {
    gap: 20px;
  }
  .nav-btn {
    margin-left: 30px;
  }
}
@media (max-width: 830px) {
  .nav-links {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .nav-btn {
    display: none;
  }
}
@media (max-width: 450px) {
  .nav-logo h1 {
    display: none;
  }
}
.hero {
  padding: 100px 0;
}

.hero-wrapper {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.hero-content .hero-subtitle {
  font-size: 18px;
  font-weight: 600;
  color: #3a68b8;
  text-transform: uppercase;
}
.hero-content .hero-title {
  font-weight: 800;
  font-size: 55px;
  max-width: 604px;
  line-height: 65px;
}
.hero-content .hero-txt {
  font-size: 18px;
  max-width: 558px;
  opacity: 0.7;
  line-height: 28px;
}
.hero-content .hero-btns {
  display: flex;
  gap: 20px;
}
.hero-content .hero-btns .hero-btn {
  background-color: #3a68b8;
  border-radius: 5px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 1120px) {
  .hero-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .hero-btns {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .hero-img {
    width: 100%;
  }
}
@media (max-width: 670px) {
  .hero-content .hero-title {
    font-size: 45px !important;
    line-height: 55px !important;
  }
}
@media (max-width: 480px) {
  .hero-content .hero-title {
    font-size: 32px !important;
    line-height: 45px !important;
  }
  .hero-content .hero-txt {
    font-size: 15px;
  }
  .hero-content .hero-btns {
    flex-direction: column;
    width: 100%;
  }
  .hero-content .hero-btns .hero-btn {
    justify-content: center;
  }
}
.services {
  padding: 150px 0;
}

.services-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.services-card {
  background-color: rgba(242, 242, 242, 0.7882352941);
  padding: 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 362px;
  margin: 0 auto;
  text-align: center;
  gap: 30px;
}
.services-card img {
  width: 98px;
  height: 103px;
}

.services-title {
  font-weight: 700px;
  max-width: 302px;
  font-size: 25px;
}

.info {
  padding: 100px 0;
}

.info-wrapper {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-content {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.info-title {
  font-weight: 700;
  font-size: 40px;
  max-width: 548px;
}

.info-subtitle {
  font-weight: 400;
  font-size: 16px;
  max-width: 460px;
  opacity: 0.7;
}

@media (max-width: 1120px) {
  .info-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
  .info-content {
    text-align: center;
  }
  .info-subtitle {
    margin: 0 auto;
  }
  .info-img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .info-title {
    font-size: 35px;
  }
}
.footer {
  padding: 120px 0;
  background-color: #000d1d;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-content-title {
  color: #3a68b8;
  font-size: 16px;
  font-weight: 600;
}
.footer-content-subtitle {
  color: #fff;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
  max-width: 261px;
}
.footer-content-infos {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.footer-info h1 {
  font-size: 16px;
  font-weight: 500;
}
.footer-info-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-info-links a {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  opacity: 0.6;
  text-decoration: none;
}
.footer-about {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-about h1 {
  font-size: 16px;
  font-weight: 500;
}
.footer-about p {
  max-width: 254px;
  color: #fff;
  opacity: 0.6;
}
.footer-about a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .footer-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
  .footer-info,
  .footer-content,
  .footer-about {
    align-items: center;
    text-align: center;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
}

body {
  background-color: #020a18;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
  padding: 0 10px;
}/*# sourceMappingURL=style.css.map */