@use "variables" as *;

.info {
  padding: 100px 0;
}
.info-wrapper {
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-content {
  display: flex;
  gap: 25px;
  flex-direction: column;
}
.info-title {
  font-weight: 700;
  font-size: 40px;
  max-width: 548px;
}
.info-subtitle {
  font-weight: 400;
  font-size: 16px;
  max-width: 460px;
  opacity: 0.7;
}
@media (max-width: 1120px) {
  .info-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }
  .info-content {
    text-align: center;
  }
  .info-subtitle {
    margin: 0 auto;
  }
  .info-img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .info-title {
    font-size: 35px;
  }
}
