@use "variables" as *;
@use "navbar" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
}

body {
  background-color: $backroundColor;
}
.container {
  max-width: 1315px;
  margin: 0 auto;
  padding: 0 10px;
}
